body {
    background-color: grey;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: darkslategray;
}
.container {
    margin: 0 auto;
    width: 1000px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
}

.box {
    aspect-ratio: 1;
    background-color: darkslategray;
    color: bisque;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizz {
    background-color: forestgreen;
    color: darkslategray;
}
.buzz {
    background-color: bisque;
    color: forestgreen;
}
.fizzbuzz {
    background-color: brown;
    color: blue;
}