.title{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
}

.box {
    aspect-ratio: 1;
    background-color: darkslategray;
    color: bisque;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizz {
    background-color: forestgreen;
    color: darkslategray;


}